version: "3.8"

services:
  train:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: adaptive_varnet_train
    command: >
      bash -c "
      python adaptive_varnet_model/train_adaptive_varnet_demo.py
      --data_path /app/data/fastmri
      --challenge multicoil
      --gpus 0
      --num_workers 0
      --max_epochs 1
      --limit_train_batches 1
      --default_root_dir /app/demo_run
      --learn_acquisition True
      --mlflow
      "
    volumes:
      - .:/app
      - C:/Users/Misha/PycharmProjects/data/fastmri:/app/data/fastmri
    working_dir: /app
    tty: true
    env_file:
      - .env

  eval:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: adaptive_varnet_eval
    command: >
      bash -c "
      python adaptive_varnet_model/eval_pretrained_adaptive_varnet.py
      --load_checkpoint /app/demo_run/checkpoints/last.ckpt
      --data_path /app/data/fastmri
      --challenge multicoil
      --num_workers 0
      --batch_size 1
      --num_batches 2
      --compute_lpips True
      --save_images True
      --save_images_dir /app/recon_vis
      "
    volumes:
      - .:/app
      - C:/Users/Misha/PycharmProjects/data/fastmri:/app/data/fastmri
    working_dir: /app
    tty: true
    env_file:
      - .env
