version: "3.8"

services:
  train:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: adaptive_varnet_train
    shm_size: "8gb"
    command: >
      bash -c "
      python adaptive_varnet_model/train_adaptive_varnet_demo.py
      --data_path /app/data/fastmri
      --challenge multicoil
      --gpus 1
      --num_workers 22
      --max_epochs 1
      --limit_train_batches 1
      --default_root_dir /app/demo_run
      --learn_acquisition True
      --mlflow
      --seed 42
      --batch_size 16
      --num_cascades 5
      --accelerations 8
      --center_fractions 0.04
      --budget 12
      --loupe_mask True
      --use_softplus False
      --slope 10
      --num_sense_lines 4
      "
    volumes:
      - /mnt/mri-datasets/knee_multicoil:/app/data/fastmri
      - ./demo_run:/app/demo_run
    working_dir: /app
    tty: true
    env_file:
      - .env
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  eval:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: adaptive_varnet_eval
    shm_size: "8gb"
    command: >
      bash -c "
      python adaptive_varnet_model/eval_pretrained_adaptive_varnet.py
      --load_checkpoint /app/demo_run/checkpoints/last.ckpt
      --data_path /app/data/fastmri
      --challenge multicoil
      --num_workers 22
      --batch_size 1
      --num_batches 2
      --compute_lpips True
      --save_images True
      --save_dicom
      --save_images_dir /app/recon_vis
      "
    volumes:
      - /mnt/mri-datasets/knee_multicoil:/app/data/fastmri
      - ./demo_run:/app/demo_run
      - ./recon_vis:/app/recon_vis
    working_dir: /app
    tty: true
    env_file:
      - .env
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
